/*<meta />*/

/* MadCap-Branding  */

:root
{
	--Light: #FFFFFF;
	--Lightest: #FFFFFF;
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/Pride Logo 2015 Xtra Small.png');
	--Dark: #5a5a5a;
	--Primary: #065695;
}

