/*<meta />*/

/*<meta sourceDocument="C:\Users\mikef\OneDrive - PRIDE ENGINEERING, LLC\Service Sharepoint\Grinder\Model 30A Files\30A Manuals - Instructions\Instructions - Troubleshooting\Grinder Procedures and Processes\Reference Procedure for Model 30.docx" />*/

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.ListParagraph
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

li.ListParagraph
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.ListParagraph_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
}

p.p_1
{
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 36pt;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	width: 624px;
	height: 468px;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
	width: 581px;
	height: 608px;
}

img.img_3
{
	visibility: visible;
	mso-wrap-style: square;
	width: 479px;
	height: 601px;
}

img.img_4
{
	visibility: visible;
	mso-wrap-style: square;
	width: 624px;
	height: 539px;
}

img.img_5
{
	visibility: visible;
	mso-wrap-style: square;
	width: 540px;
	height: 602px;
}

img.img_6
{
	visibility: visible;
	mso-wrap-style: square;
	width: 502px;
	height: 599px;
}

img.img_7
{
	visibility: visible;
	mso-wrap-style: square;
	width: 558px;
	height: 596px;
}

img.img_8
{
	visibility: visible;
	mso-wrap-style: square;
	width: 624px;
	height: 448px;
}

img.img_9
{
	visibility: visible;
	mso-wrap-style: square;
	width: 624px;
	height: 469px;
}

img.img_10
{
	visibility: visible;
	mso-wrap-style: square;
	width: 624px;
	height: 450px;
}

