/*<meta />*/

/*<meta sourceDocument="C:\Users\mikef\OneDrive - PRIDE ENGINEERING, LLC\Service Sharepoint\Grinder\Model 30A Files\30A Manuals - Instructions\Instructions - Troubleshooting\Instructions - Troubleshooting\Troubleshooting\Setting A axis Gib to Proper Torque Value.docx" />*/

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.ListParagraph
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

li.ListParagraph
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.ListParagraph_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
}

span.span_1
{
	font-size: 20pt;
}

p.p_1
{
	text-align: center;
}

p.ListParagraph_2
{
	font-family: Calibri;
	margin-bottom: 8pt;
	font-size: 16pt;
}

li.ListParagraph_1
{
	font-family: Calibri;
	margin-bottom: 8pt;
	font-size: 16pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	width: 293px;
	height: 391px;
}

p.ListParagraph_1_1
{
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
	margin-bottom: 8pt;
}

span.span_2
{
	font-size: 16pt;
}

p.ListParagraph_3
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 8pt;
}

li.ListParagraph_2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 8pt;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
	width: 287px;
	height: 383px;
}

p.ListParagraph_4
{
	font-family: Calibri;
	margin-bottom: 8pt;
	font-size: 14pt;
}

li.ListParagraph_3
{
	font-family: Calibri;
	margin-bottom: 8pt;
	font-size: 14pt;
}

img.img_3
{
	visibility: visible;
	mso-wrap-style: square;
	width: 281px;
	height: 374px;
}

p.ListParagraph_5
{
	font-family: Calibri;
	margin-bottom: 0pt;
	font-size: 16pt;
}

li.ListParagraph_4
{
	font-family: Calibri;
	margin-bottom: 0pt;
	font-size: 16pt;
}

span.span_3
{
	font-size: 16pt;
	text-decoration: underline;
}

p.ListParagraph_6
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 0pt;
}

li.ListParagraph_5
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 0pt;
}

