/*<meta />*/

/*<meta sourceDocument="C:\Users\mikef\OneDrive - PRIDE ENGINEERING, LLC\Service Sharepoint\Grinder\Model 30A Files\30A Manuals - Instructions\Instructions - Troubleshooting\Instructions - Troubleshooting\Setting X & Y Axis Zero.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

li.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.ListParagraph_1
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
}

span.span_1
{
	font-weight: bold;
	text-decoration: underline;
}

p.p_1
{
	margin-bottom: 0pt;
	text-align: center;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	width: 240px;
	height: 78px;
}

p.p_2
{
	margin-bottom: 0pt;
}

p.p_3
{
	margin-bottom: 0pt;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

p.p_4
{
	margin-bottom: 0pt;
	text-align: justify;
}

p.ListParagraph_2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 0pt;
	text-align: justify;
}

li.ListParagraph_1
{
	font-size: 11pt;
	font-family: Calibri;
	margin-bottom: 0pt;
	text-align: justify;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 36pt;
}

div.div_1
{
	left: 0;
	text-align: left;
	margin-left: 0;
	margin-top: 368.05pt;
	width: 400.55pt;
	height: 22.35pt;
	visibility: visible;
	mso-wrap-style: square;
	mso-width-percent: 0;
	mso-height-percent: 0;
	mso-wrap-distance-left: 9pt;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 9pt;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: center;
	mso-position-horizontal-relative: margin;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	mso-width-percent: 0;
	mso-height-percent: 0;
	mso-width-relative: margin;
	mso-height-relative: margin;
	v-text-anchor: top;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
	width: 368px;
	height: 567px;
}

img.img_3
{
	visibility: visible;
	mso-wrap-style: square;
	width: 352px;
	height: 567px;
}

img.img_4
{
	visibility: visible;
	mso-wrap-style: square;
	width: 494px;
	height: 908px;
}

img.img_5
{
	visibility: visible;
	mso-wrap-style: square;
	width: 497px;
	height: 952px;
}

p.ListParagraph_3
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
	text-align: justify;
}

li.ListParagraph_2
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
	text-align: justify;
}

img.img_6
{
	visibility: visible;
	mso-wrap-style: square;
	width: 596px;
	height: 859px;
}

p.p_5
{
	text-align: justify;
}

p.ListParagraph_1_1
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
	text-align: justify;
}

span.span_2
{
	font-weight: bold;
}

p.p_6
{
	margin-bottom: 0pt;
	text-indent: 36pt;
}

