/*<meta />*/

/*<meta sourceDocument="C:\Users\mikef\OneDrive - PRIDE ENGINEERING, LLC\Service Sharepoint\Grinder\Model 30A Files\30A Manuals - Instructions\Instructions - Troubleshooting\Instructions - Troubleshooting\Setting Z zero & Ironing Die Grind Process.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

li.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.ListParagraph_1
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	width: 326px;
	height: 106px;
}

span.span_1
{
	font-weight: bold;
	font-size: 16pt;
}

p.p_1
{
	text-align: center;
}

p.p_2
{
	font-weight: bold;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
	width: 279px;
	height: 577px;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 72pt;
}

img.img_3
{
	visibility: visible;
	mso-wrap-style: square;
	width: 346px;
	height: 715px;
}

p.ListParagraph_1_1
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
	font-weight: bold;
}

img.img_4
{
	visibility: visible;
	mso-wrap-style: square;
	width: 399px;
	height: 824px;
}

img.img_5
{
	visibility: visible;
	mso-wrap-style: square;
	width: 337px;
	height: 695px;
}

span.span_2
{
	font-weight: bold;
}

span.span_3
{
	text-decoration: underline;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

